.terraform/
.terraform.lock.hcl
.coverage
.idea/
*.iml
.pytest_cache
kubeconfig_*
terraform.tfstate*
.DS_Store
.vscode/*
.vscode/
*.pyc
venv/
dist/
build/
**/builds/
*.egg-info/
site/
__init__.py/
lambda.zip
generated
.build
