requests
pytest
moto[all]
sure
redis
fakeredis
flake8
boto3
pytest-cov
urllib3_mock
urllib3==1.26.15
warrant_lite
apscheduler
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-material-extensions
