name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main
permissions:
  contents: read

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mainline
        uses: actions/checkout@v2
        with:
          ref: 'main'
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUIREMENTS: requirements_mkdocs.txt
